<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#F2F2F2" text="#666" alink="#cccccc" vlink="#cccccc"
      style="margin: 0;padding: 0;background-color: #F2F2F2;color: #666;">

<center>

    <!-- preheaderBlock -->

    <!-- /preheaderBlock -->

    <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#F2F2F2"
           style="background-color: #F2F2F2;" id="ko_singleArticleBlock_30">
        <tbody>
        <tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#F2F2F2"
                style="padding-left: 9px;padding-right: 9px;background-color: #F2F2F2;">

                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad"
                           bgcolor="#F2F2F2"
                           style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #F2F2F2;">
                        <tbody>
                        <tr>
                            <td width="100%" valign="top" align="left" class="links-color">

                                <img border="0" hspace="0" vspace="0" width="534" class="mobile-full" alt=""
                                     style="border: 0px;display: block;vertical-align: top;max-width: 534px;width: 100%;height: auto;"
                                     src="../../../logo.png">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                    <tr>
                                        <td align="left" class="long-text links-color"
                                            style="text-align: left; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #666;">
                                            <p style="margin: 1em 0px;margin-top: 0px;">Bonjour {{userFirstname}},</p>
                                            <p style="margin: 1em 0px;margin-bottom: 0px;">

                                                Conformément à votre demande, vous trouverez ci-dessous un nouveau mot de passe pour vous connecter à l'application Fun Quizz :
                                                <br><br>
                                                    <div align="center"><strong>{{password}}</strong></div>
                                                <br>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody>
    </table>


    <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#F2F2F2"
           style="background-color: #F2F2F2;" id="ko_titleBlock_11">
        <tbody>
        <tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#F2F2F2"
                style="padding-left: 9px;padding-right: 9px;background-color: #F2F2F2;">

                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="9" class="vb-container halfpad"
                           bgcolor="#F2F2F2"
                           style="border-collapse: separate;border-spacing: 9px;padding-left: 9px;padding-right: 9px;width: 100%;max-width: 570px;background-color: #F2F2F2;">
                        <tbody>
                        <tr>
                            <td bgcolor="#F2F2F2" align="left"
                                style="background-color: #F2F2F2; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #666; text-align: left;">
                                <span><strong>Pensez à modifier votre mot de passe</strong><br></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
    <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#F2F2F2"
           style="background-color: #F2F2F2;" id="ko_textBlock_15">
        <tbody>
        <tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#F2F2F2"
                style="padding-left: 9px;padding-right: 9px;background-color: #F2F2F2;">

                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad"
                           bgcolor="#F2F2F2"
                           style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #F2F2F2;">
                        <tbody>
                        <tr>
                            <td align="left" class="long-text links-color"
                                style="text-align: left; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #666;">
                                <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;">
                                    Pour votre confort, nous vous invitons à modifier et personnaliser votre mot de passe lors de votre prochaine connexion sur notre application.
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody>
    </table>

    <table class="vb-outer" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#F2F2F2"
           style="background-color: #F2F2F2;" id="ko_textBlock_15">
        <tbody>
        <tr>
            <td class="vb-outer" align="center" valign="top" bgcolor="#F2F2F2"
                style="padding-left: 9px;padding-right: 9px;background-color: #F2F2F2;">

                <!--[if (gte mso 9)|(lte ie 8)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="570">
                    <tr>
                        <td align="center" valign="top"><![endif]-->
                <div class="oldwebkit" style="max-width: 570px;">
                    <table width="570" border="0" cellpadding="0" cellspacing="18" class="vb-container fullpad"
                           bgcolor="#F2F2F2"
                           style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #F2F2F2;">
                        <tbody>
                        <tr>
                            <td align="left" class="long-text links-color"
                                style="text-align: left; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #666;">
                                <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 0px;">
                                    Nous restons à votre disposition par e-mail :&nbsp;<a href="mailto:electrogamesstudio@gmail.com"
                                                                     style="color: #e36c09;text-decoration: underline;">electrogamesstudio@gmail.com</a>
                                    <br><br><br>
                                    L'équipe Electrogames Studio.
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>


<!--- TODO : ajouter les liens vers les réseaux sociaux

<div align="center">Rejoignez-nous :
    <img src="" alt="facebook">
    <img src="" alt="twitter">
    <img src="" alt="instagram">
    <img src="" alt="pinterest">
</div>

--->


