.socialLinks {font-size: 6px;}
.socialLinks a {display: inline-block;}
.socialIcon {display: inline-block;vertical-align: top;padding-bottom: 0px;border-radius: 100%;}
table.vb-row, table.vb-content {border-collapse: separate;}
table.vb-row {border-spacing: 9px;}
table.vb-row.halfpad {border-spacing: 0;padding-left: 9px;padding-right: 9px;}
table.vb-row.fullwidth {border-spacing: 0;padding: 0;}
table.vb-container.fullwidth {padding-left: 0;padding-right: 0;}


/* yahoo, hotmail */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{ line-height: 100%; }
.yshortcuts a{ border-bottom: none !important; }
.vb-outer{ min-width: 0 !important; }
.RMsgBdy, .ExternalClass{
    width: 100%;
    background-color: #3f3f3f;
    background-color: #F2F2F2}

/* outlook */
table{ mso-table-rspace: 0pt; mso-table-lspace: 0pt; }
#outlook a{ padding: 0; }
img{ outline: none; text-decoration: none; border: none; -ms-interpolation-mode: bicubic; }
a img{ border: none; }

@media screen and (max-device-width: 600px), screen and (max-width: 600px) {
    table.vb-container, table.vb-row{
        width: 95% !important;
    }

    .mobile-hide{ display: none !important; }
    .mobile-textcenter{ text-align: center !important; }

    .mobile-full{
        float: none !important;
        width: 100% !important;
        max-width: none !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    img.mobile-full{
        width: 100% !important;
        max-width: none !important;
        height: auto !important;
    }
}

#ko_singleArticleBlock_30 .links-color a, #ko_singleArticleBlock_30 .links-color a:link, #ko_singleArticleBlock_30 .links-color a:visited, #ko_singleArticleBlock_30 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_singleArticleBlock_10 .links-color a, #ko_singleArticleBlock_10 .links-color a:link, #ko_singleArticleBlock_10 .links-color a:visited, #ko_singleArticleBlock_10 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_singleArticleBlock_19 .links-color a, #ko_singleArticleBlock_19 .links-color a:link, #ko_singleArticleBlock_19 .links-color a:visited, #ko_singleArticleBlock_19 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_15 .links-color a, #ko_textBlock_15 .links-color a:link, #ko_textBlock_15 .links-color a:visited, #ko_textBlock_15 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_32 .links-color a, #ko_textBlock_32 .links-color a:link, #ko_textBlock_32 .links-color a:visited, #ko_textBlock_32 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_13 .links-color a:visited, #ko_textBlock_13 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_20 .links-color a:visited, #ko_textBlock_20 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_21 .links-color a, #ko_textBlock_21 .links-color a:link, #ko_textBlock_21 .links-color a:visited, #ko_textBlock_21 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_textBlock_33 .links-color a, #ko_textBlock_33 .links-color a:link, #ko_textBlock_33 .links-color a:visited, #ko_textBlock_33 .links-color a:hover {
    color: #3f3f3f;
    color: #e36c09;
    text-decoration: underline;
}

#ko_footerBlock_2 .links-color a, #ko_footerBlock_2 .links-color a:link, #ko_footerBlock_2 .links-color a:visited, #ko_footerBlock_2 .links-color a:hover {
    color: #ccc;
    text-decoration: underline;
}

#mailBody #mainLogo{
    width:350px;
}

#thanks {
    background-color: #f2f2f2;
    padding: 17px 5px 5px 5px;
    color: #666;
    text-align: center;
    font-weight: bold;
    height: 30px;
}